.buildpath
.DS_Store
.project
.settings
.idea
/api
/public/api
/public/assets/dist
/node_modules


/public/xinling/*
/update/*
/data/runtime/*
/public/wxpay/*

/simplewind/thinkphp/*
/simplewind/vendor/*
/public/upload/*

/data/conf/database.php